* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
}

img{
    max-width: 400px;
    max-height: 400px;
}

.buttom a{
    text-decoration: none;
    padding: 10px 25px;
    background-color: blue;
    color: aliceblue;
    border-radius: 50px;
}

.buttom-right a{
    text-decoration: none;
    padding: 10px 25px;
    background-color: blue;
    color: aliceblue;
    border-radius: 50px;
}

.headertop {
    color: aliceblue;
    display: flex;
    background-color: blue;
    padding: 80px 70px;
    justify-content: space-between;
}

.logo { 
    font-size: 30px;
    font-weight: 700;
}

.headertext {
    text-align: center;
    flex-wrap: nowrap;
    width: 400px;
}

.headertext p{
    margin-top: 20px;
}

nav a{
    text-decoration: none;
    margin-left: 20px;
    color: aliceblue;
}

.ystav {
    display: flex;
    padding: 80px 70px;
    align-items: center;
}

.ystavtext {
    flex-wrap: nowrap;
    max-width: 700px;
    margin-bottom: 30px;
}

.ystavvar {
    align-items: center;
    padding: 80px 70px;
    display: flex;
    justify-content: flex-end;
    text-align: end;
}

.vartext {
    text-align: end;
    flex-wrap: nowrap;
    width: 600px;
    margin-bottom: 30px;
}

.atestat {
    display: flex;
    padding: 80px 70px;
    align-items: center;
    max-width: 1000px;
}

.atestattext {
    margin-bottom: 30px;
}

.table {
    display: flex;
    padding: 80px 70px;
    text-align: end;
    align-items: center;
    justify-content: flex-end;
}

.tabletext {
    width: 600px;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.rpdoc {
    padding: 80px 70px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.rpdoctext {
    width: 600px;
    margin-bottom: 30px;
}

.zamann {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 30px;
}

.zaman {
    background-color: red;
    padding: 80px 70px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.zamans p {
    font-size: 20px;
}

footer {
    background-color: blue;
    color: aliceblue;
    padding: 80px 70px;
}

.footer {
    color: aliceblue;
    display: flex;
    background-color: blue;
    justify-content: space-between;
}

.footerbotton {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.icon a{
    color: aliceblue;
    font-size: 30px;
    margin-left: 20px;
}

.buttom a:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
}

.buttom-right a:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
}

hr{
    margin-top: 70px;
}

.superfoto{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.superfoto img {
    max-width: 1301px !important;
    max-height: 1301px !important;
    width: 1000px;
    height: 1000px;
    margin-left:  300px;
    margin-top:  70px;
}

.ystav_med {
    padding: 50px;
}

.ystav_med h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
}

.ystav_med p {
    font-size: 20px;
    margin: 20px 0px;
}

@media screen and (max-width: 768px) {
    
    img {
        width: 150px;
    }
    
    nav a{
        display: none;
    }

    .headertop{
        padding: 20px !important;
        flex-wrap: wrap;
    }

    .headertext {
        margin: 15px 0px 15px;
    }

    .ystav {
        padding: 50px 0px;
        flex-direction: column;
        text-align: center;
    }

    .ystavvar {
        padding-bottom: 50px;
        flex-direction: column-reverse;
        text-align: center;
    }

    .vartext {
        text-align: center;
        width: 350px;
        flex-wrap: wrap;
    }

    .atestat {
        padding-bottom: 50px;
        flex-direction: column;
        text-align: center;
    }

    .table {
        padding-bottom: 50px;
        flex-direction: column-reverse;
        text-align: center;
    }

    .tabletext {
        text-align: center;
        width: 350px;
        flex-wrap: wrap;
    }

    .rpdoc {
        padding: 0px;
        justify-content: center;
        text-align: center;
        padding-bottom: 50px;
    }

    .rpdoctext {
        flex-wrap: wrap;
        width: 350px;
    }

    .zaman h1 {
        font-size: 20px;
    }

    .zamann {
        flex-direction: column;
    }

    .zamans {
        margin: 15px 0px;
    }

    hr {
        display: none;
    }

    footer {
        padding: 20px;
    }

    .footerbotton {
        justify-content: space-between;
        align-items: center;
    }

    .icon a {
        font-size: 25px;
        margin-left: 10px;
    }
}
