* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 500;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1320px;
    margin: 0px auto;
    padding: 0px 15px;
}

.sufferings {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    
}

.sufferings div {
    width: 30%;
    text-align: center;
}

.hero {
    display: flex;
    padding: 35px 15px;

}

header {
    background-image: url("../img/ZAaaaaaaaaaaaaaaaaaaaaaaaaaa.webp");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0;
    background-position: center center;
    color: rgb(209, 201, 201);
}

.hero-section {
    background-image: url("../img/345678999999999999999999999999999999999999999.webp");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0;
    background-position: center center;
}

.hero img {
    width: 350px;
}

.hero div {
    margin: 0px 25px;

}

.final {
    background-image: url("../img/finalphone.webp");
    background-position: center center;
    padding: 100px 0;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(209, 201, 201);

}

.center-section {
    background-image: url("../img/Goodphonk.webp");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 10px;
}

.back-image {
    background-image: url("../img/git.webp");
    background-position: center center;
    background-size: cover;
    color: aliceblue;
    padding: 10px;
   
}
.back-image1{
    background-image: url("../img/georgia.webp");
    background-position: center center;
    background-size: cover;
    color: aliceblue;
}
.hero p {
    margin: 10px 0;
}

.sufferings p {
    margin: 7px 0;
}

.one {
    color: whitesmoke;
}

.whiresmk {
    color: whitesmoke;
}

.one img {
    width: 345px;

}

.col75 {
    width: 75%;
}

.col25 {
    width: 25%;
}

.flex {
    display: flex;

}

.backimg {
    background-image: url("../img/mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm.webp");
    color:whitesmoke;
    padding: 20px;
}

.heroes-section .flex {
    justify-content: space-around;
    margin: 15px 0;
}

.heroes-section .flex div {
    width: 30%;
    margin: 10px 0;

}

.heroes-section h1{
    margin-bottom: 40px;
    color: #1d2125;
}

.heroes-section {
    padding: 40px 0;
    text-align: center;
    background-image: url("https://klike.net/uploads/posts/2022-11/1667537480_3-39.jpg");
    /* background-image: url("https://th.bing.com/th/id/OIP.e0fNzQGjM1bjQkAi1uDCZgAAAA?pid=ImgDet&rs=1"); */

    background-size: cover;
    background-position: center;
}

.button {
    background-color: #4f5051;
    color: white;
    padding: 15px 25px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 20px;
    /* display: inline-block; */
}

.flex a {
    text-decoration: none;
}

.button:hover {
    background-color: whitesmoke;
    color: black;
    border: 1px solid black;

}

.manevish {
    background-image: url("../img/SAMIEPERVIEFONE.webp");
    color: aliceblue;
}

.higi {
    margin: 15px;
}

.bac-image {
    background-image: url("../img/camper\ \(1\).webp");
    background-size: cover;
    color: aliceblue;
}   

.tihon-section {
    background-image: url("../img/vatacy\ \(1\).webp");
    background-position: center center;
    padding: 10px;
}

.galina-section {
    background-image: url("../img/otecestvo.webp");
    background-size: cover;
   color: whitesmoke;
   padding: 20px 0;
}

.mrg {
    margin: 10px 0;
    margin-left: 15px;
    color: rgb(252, 249, 249);
}
.ots a{
    text-decoration: none;
    color: rgb(252, 249, 249);
}
.galina-section p{
    margin: 13px 0;
    margin-left: 25px;
}
.gal a{
    color: whitesmoke;
    text-decoration: none;

}
.st a{
    text-decoration: none;
    color: whitesmoke;
}
.str{
   
    margin-left: 20px;
}
.backimg .flex{
    margin: 15px 0;
}
.wid img{
    width: 30%;
    margin: 0px 15px;
    
}
.st{
    margin-bottom: 15px;
}
.gal{
    margin-left: 25px;
}
.wid{
    justify-content: space-between;
    margin-top: 10px;
}
.ots{
    margin-left: 12px;
}
/* @media screen {
.flex{
    flex-direction: column;
} 
} */
